<!DOCTYPE html>
<html>
<head>
	<title>Price Checkers</title>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel='shortcut icon' href='#'>
	<script type="text/javascript" src="/static/js/fontawesome-5.13.0/all.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	<style>
		body{
			margin:0px;
		}

		button, input{
			margin:0px;
			outline: 0px;
			padding: 0px;
			border:none;
		}
		.page_container{
			position: relative;
			width:100%;
			height: auto;
			min-height: 100vh;
			font-family: "Lato",sans-serif;
		}

		.header{
			position: relative;
			display: grid;
			grid-template-columns: auto auto;
			justify-content: left;
			width: 100%;
			/*height: 60px;*/
			padding: 5px;
			box-sizing: border-box;
			box-shadow: 0 0 20px -5px #393838;
			font-size: 24px;
			font-weight: bold;
		}

		.company_name{
			align-self: center;
			cursor: pointer;
		}

		.block{
			position: relative;
			width: 100%;
			padding: 20px;
			box-sizing: border-box;
			text-align: center;
		}

		.search_block{
			position: relative;
			width: 100%;
			background-color:blue;
			color: white;
			background-image: linear-gradient(to bottom right, #fa7129, #fb9a11);
			font-family: 'Montserrat', 'Arial';
		}

		.search_form{
			position: relative;
			display: inline-block;
			border-radius: 10px;
			margin: 20px 0px;
			overflow: hidden;
		}

		.search_form .url{
			position: relative;
			float: left;
			width:700px;
			height: 50px;
			padding:0px 5px;
			font-size: 16px;
			color: #333;
		}
		.search_form .check_button{
			position: relative;
			width:150px;
			height: 50px;
			font-size: 18px;
			color: white;
			cursor: pointer;
			background-color: green;
		}

		.chart_block{
			position: relative;
			width: 100%;
			background-color:white;
		}
		.chart_block canvas{
			max-height: 300px;
		}
		.product_block{
			position: relative;
			width: 100%;
			height: auto;
			background-color:white;
		}

		.product_container{
			position: relative;
			display: grid;
			grid-template-columns: auto auto;
			width: 800px;
			/*height: 200px;*/
			margin: 0px auto;
			padding:8px;
			box-sizing: border-box;
			border: 1px solid lightgrey;
			box-shadow: 0 0 20px -5px #888888;
			border-radius: 5px;
			align-content: center;
		}

		.product_image{
			width: 250px;
			height: 250px;
			background-image: url('{{ product.src }}');
			background-position: center;
			background-size:contain;
			background-repeat: no-repeat;
			/*border:1px solid black;*/
		}
		.product_image{

		}

		.product_details{
			position: relative;
			display: grid;
		}

		.product_name{
			align-self: center;
			font-size: 18px;
			font-weight: 500;
			line-height: 1;
			letter-spacing: 1px;
		}

		.product_rating{
			font-size: 14px;
			font-weight: 400;
			color: orangered;
		}

		.prices_container{
			display: grid;
			grid-template-columns: auto auto auto;
		}

		.buttons_container{
			display: grid;
			grid-template-columns: auto auto;
			align-items: center;
			justify-items: center;
		}

		.buy_button{
			height: 40px;
			width: 200px;
			background-color: black;
			border:1px solid black;
			color:white;
			border-radius:5px;
			cursor: pointer;
		}

		.buy_button:hover{
			background-color: white;
			color:black;
		}

		.graph_button{
			height: 40px;
			width: 200px;
			background-color: green;
			border:1px solid green;
			color:white;
			border-radius:5px;
			cursor: pointer;
		}

		.graph_button:hover{
			background-color: white;
			color:green;
		}

		@media(max-width: 920px){
			.search_form .url{
				width: 500px;
			}

			.product_container{
				width: 400px;
				max-width: 98%;
				grid-template-columns: auto;
				justify-items: center;
			}

			.product_details{
				grid-row-gap: 5px;
				font-size: 12px;
			}
			.buy_button, .graph_button{
				width: 120px;
			}

		}

		@media(max-width: 720px){
			.search_form {
				width: 100%;
				border-radius: none;
			}

			.search_form .url{
				width: 98%;
				height: 40px;
				border-radius: 7px;
			}
			.search_form .check_button{
				height: 40px;
				border-radius: 7px;
				margin-top: 10px;
			}
			.product_image{
				width: 200px;
				height: 200px;
			}
		}
	</style>
</head>
<body>
<div class="page_container">
	<div class="header">
		<img src="/static/price_tracker_logo.png" height="55px;">
		<div class="company_name" onclick="window.location.href='{{ url_for('home') }}'">Price Tracker</div> 
	</div>
	<div class="search_block block">
		<h1 style="font-weight: 500;">Price tracker for amazon.in products</h1>
		<form class="search_form" action="{{ url_for('search') }}" method="post">
			<input type="text" name="product_url" class="url" value="{{product.url}}">
			<button class="check_button" type="submit"> <i class="fa fa-chart-area"></i> 	Show Graph</button>
		</form>
	</div>
	<div class="chart_block block">
		<canvas id="myChart"></canvas>
	</div>
	<div class="product_block block">
		<div class="product_container">
			<div class="product_image"></div>
			<div class="product_details">
				<div class="product_name">{{product.name}}</div>
				<div class="product_rating"> {% if product.rating %}<i class="fa fa-star" style="color: gold;"></i>{% endif %} {{product.rating}} </div>
				<div class="prices_container">
					<div style="display: grid;color: green;">
						<div><i class="fa fa-rupee-sign"></i> {{product.current_price}} </div>
						<div>Current Price</div>
					</div>
					<div style="display: grid;color: #333;">
						<div><i class="fa fa-rupee-sign"></i> {{product.low_price}} </div>
						<div>Lowest Price</div>
					</div>
					<div style="display: grid;color: grey;">
						<div><i class="fa fa-rupee-sign"></i>{{product.high_price}} </div>
						<div>Highest Price</div>
					</div>
				</div>
				<div class="buttons_container">
					<button class="buy_button" onclick="window.location.href='{{product.url}}'">Buy @ Amazon</button>
					<button class="graph_button">Show Price Graph</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/chart.min.js"></script>
<script>
var price_history = {{ price_history|tojson }};
// console.log(price_history)
var price = [];
var date = [];
for(i=0;i<price_history.length;i++){
	price.push(price_history[i][0]);
	date.push(price_history[i][1]);
}
console.log(price);
console.log(date);


var ctx = document.getElementById("myChart");
ctx.height = "300px";
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: date,
        datasets: [{
            label: 'Price ',
            data: price,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
		    xAxes: [{
		    type: 'time',
		    distribution: 'linear',
		    ticks: {
		      source: 'labels'
		    },
		    time: {
		    unit: 'month',
		    unitStepSize: 1,
		    displayFormats: {
		       'month': 'MMM'
		      }
		    }
		  }],
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

</body>
</html>